@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  }

  .short-section-padding{
    padding: 55px 0px 30px 0px;
  }

  .long-section-padding{
    padding: 52px 0px 65px 0px;
  }
  
img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

p {
  margin: 0;
  color: #7D7D7D;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
  padding: 0 0;
}

h1 {
  font-size: 35px;
  line-height: 47px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  line-height: 33px;
  font-weight: 700;
}
h5 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  line-height: 26px;

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  outline: none !important;
  /* font-family: $primary-font; */
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: none;
  outline: 0 none;
  /* font-family: $primary-font; */
}

.hidden {
  overflow: hidden;
}

i {
  font-family: "fontawesome";
  font-style: inherit;
}

.form-control:focus {
  background-color: #fff;
  outline: 0;
  box-shadow: none;
}
input:focus {
  outline: 0;
  box-shadow: none;
  background: none;
}
textarea:focus {
  border: 1px solid transparent !important;
  box-shadow: none;
  border-radius: 0 !important;
  outline-color: #345995 !important;
}

blockquote {
  padding: 25px 35px;
  margin-left: 30px;
  background: #f5f5f5;
  margin: 30px 0 30px 30px;
  -webkit-box-shadow: -5px 0 #232323;
  -ms-box-shadow: -5px 0 #232323;
  box-shadow: -5px 0 #232323;
}

blockquote p:last-child {
  font-weight: 600;
  margin-bottom: 0;
}
/* @-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
} */
input:disabled {
  background: #cccccc70 !important;
}
/* input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
} */
.section-padding {
  padding: 80px 0;
}
.short-section-padding {
  padding: 50px 0;
}
input[type="submit"] {
  cursor: pointer;
  background: #e62d26;
}
input[type="submit"]:focus {
  background: #e62d26;
  outline: none;
}
.no-padding {
  padding: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.mt-20 {
  margin-top: 20px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-27 {
  margin-top: 27px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-25 {
  margin-bottom: 25px;
}
.white-bg {
  background-color: #fff;
}

.pt-25{
  padding-top: 25px;
}
.section-padding-15 {
  padding-left: 15px;
  padding-right: 15px;
}
/* .section-bg {
  background: $sectionBg;
}
.black-bg {
  background-color: $black-bg;
} */
.section-padding {
  padding: 60px 0;
}
.section-padding-top {
  padding-top: 60px;
}
.section-padding-bottom {
  padding-bottom: 50px;
}
.row--aligned [class*="col-"] {
  display: flex;
}
.mb-100-percent {
  padding-bottom: 100%;
}
button[disabled] {
  cursor: no-drop;
  background: #e6d0d03b;
}

input:-internal-autofill-selected {
  background-color: rgb(255, 255, 255) !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
  /* -webkit-box-shadow: 0 0 0px 1000px #fff inset; */
}
input:-webkit-autofill {
  background-color: rgb(255, 255, 255) !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
  /* -webkit-box-shadow: 0 0 0px 1000px #fff inset; */
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-l {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.d-flex-r {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.d-flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-dir-col {
  flex-direction: column;
}

.d-flex-wrap {
  flex-wrap: wrap;
}

.m-10 {
  margin: 10px;
}
.mt-10 {
  margin-top: 10px !important;
}

.mt-50 {
  margin-top: 50px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.pl-20 {
  padding-left: 20px;
}

.pb-40 {
  padding-bottom: 40px;
}
.pr-20 {
  padding-right: 20px;
}
.m-15 {
  margin: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}

.mb-35 {
  margin-bottom: 35px;
}
.ml-15 {
  margin-left: 15px;
}

.height-32 {
  height: 32px;
}
.height-37 {
  height: 37px;
}
.width-full {
  width: 100%;
}
.txt-center {
  text-align: center;
}

.p-5 {
  padding: 5px;
}
.pl-5 {
  padding-left: 5px;
}
.pr-5 {
  padding-right: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}

.p-10 {
  padding: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}

.pb-25 {
  padding-bottom: 25px;
}


.p-15 {
  padding: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.pr-15 {
  padding-right: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}

.m-5 {
  margin: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mt-5 {
  margin-top: 5px;
}

.mt-40 {
  margin-top: 40px;
}
.mb-5 {
  margin-bottom: 5px;
}

.m-10 {
  margin: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.m-15 {
  margin: 15px;
}
.ml-15 {
  margin-left: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}

.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}

.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}

.pointer {
  cursor: pointer;
}


.icon-card {
  border: none;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 9%);
  transition: 0.3s;
  height: 55px;
  width: 59px;
  background-color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  
}
.icon-card i{
  color: #0000F7; 
  margin-top: 10px;
}

.round-icon-card {
  border: none;
  box-shadow: 0 7px 8px 0 rgb(0 0 0 / 14%);
  transition: 0.3s;
  height: 50px;
  width: 50px;
  background-color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 33px;
}
.round-icon-card i{
  margin-top: 17px;
}

.vertical-line {
  border-left: 2px solid gainsboro;
  height: 28px;
  margin-left: 26px;
}
 

.gainsboro-clr{
  color: grey;
}
  
     /*============================================
               TopMenuBar
============================================== */
.top-menu-bar-content ul{
    display: flex;
}


.top-menu-bar-content-title h6{
  margin-bottom: 27px;
  margin-top: 13px;
  font-size: 26px;
  line-height: 36px;
}

.top-menu-bar-content-title{
  line-height: 30px;

  padding: 135px 0px 50px 0px;


}




.top-menu-bar-content-title button i{
 
  margin-left: 10px;
}

.top-menu-bar-logo{
    display: flex;
}
.top-menu-bar-logo h2 {
    margin-top: 30px;
    margin-left: 20px;
}
.top-menu-bar-logo img {
  margin-right: 10px;
    margin-top: 23px;
    margin-bottom: 23px;
}

.top-menu-bar-logo-two img{
  height: 51px;
  margin-top: 23px;
  margin-bottom: 23px;
}

.top-menu-bar-content ul{
    display: flex;
    justify-content: right;


}
.top-menu-bar-content-two ul{
  display: flex;
  justify-content: right;


}

.top-menu-bar-content ul li {
  text-align: center;
  cursor: pointer;
  list-style: none;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  transition: all .3s linear;
  border-radius: 4px;
  padding: 11px 10px;
}

.top-menu-bar-content ul li Link {
 color: aliceblue;
}
.mobile-btn{
  display: none;
}

.top-menu-bar-content-two ul li{
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  transition: all .3s linear;
  border-radius: 4px;
  padding: 11px 10px;
  color: black;
}

.top-menu-bar-content-two-lnk-clr{
  color: black;
}

.top-menu-bar-content-two-lnk-clr:hover{
  color: aliceblue;
}

.top-menu-bar-content-two ul Link{
  padding: 27px;
  text-align: center;
  cursor: pointer;
  color: black;
  font-weight: bold;
  border: none;
}
.top-menu-bar-content-two ul li Link {
  color: aliceblue;
 }

 .top-menubar-item-clr{
  color: aliceblue;
 }

 .top-menubar-item-clr:hover{
  color: navy;
  margin-top: -3px;

 }
 


.top-menu-bar-content-two ul li:hover{
  background-color: #FF1901;
  color: aliceblue;
}

.navbar-login{
  background-color: #FF1901;
  color: aliceblue;
  margin-left: 10px;
}

.navbar-area{
  margin-top: -5px;
}



.footer-area-lnk-clr:hover{
  color: aliceblue;
}


.top-menu-bar-content ul li:hover{
    background-color: #FF1901;
 }
.top-menu-bar-area{
    background-image: url("/public/img/lds-banner.png");
    padding-bottom: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
 
}

.top-menu-bar-content-title button {
    width: 200px;
    height: 60px;
    background-color: #FF1901;
    border: none;
    color: aliceblue;
    margin-top: 23px;
}





.top-menu-bar-content-title h1 {
  font-size: 44px;
  line-height: 56px;
  font-weight: 700;

}

.top-menu-bar-content-item{
  margin-top: 70px;
}



.top-menubar-item-wrapper{
  margin-top: 65px;
}

.top-menu-bar-content-item ul{
display: flex;
margin-top: 27px;


}

.top-menu-bar-content-item ul li{
list-style: none;
padding-right: 78px;
padding-left: 97px;


}

     /*============================================
               ApparelOptimization
============================================== */

.apparel-optimization-card-area:hover {
  top: -5px;
}
.apparel-optimization-card-area {
  transition: all .3s linear;
  background-color: #FFFFFF;
  border-radius: 20px;
  text-align: center;
  height: 448px;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
  position: relative;
  top: 0;
}

.apparel-optimization-card-content h3 {
  font-size: 26px;
  line-height: 38px;
  font-weight: 700;
}
.apparel-optimization-section-title h1{
margin-bottom: 10px;
}

.apparel-optimization-card-content h4{
  color: #7D7D7D;
}


.apparel-optimization-card{
    display: flex;
}

.apparel-optimization-card-content {
  padding: 51px 18px;
}

.apparel-optimization-card-content img{
  margin-bottom: 56px;
}


     /*============================================
         AugmentResources
============================================== */
.augment-resources-area{
padding-bottom: 150px;
}
.augment-resources-img{
  position: relative;
  z-index: 44;
}

.augment-resources-img img{
  margin-left: 56px;
  margin-top: 31px;

}
.augment-resources-antiqueWhite1-shape {
  position: absolute;
  top: -28px;
  right: -56px;
  height: 120%;
  width: 87%;
  background: #FFEFDB; 
  z-index: -1;
  bottom: -55px;
  
}

.augment-resources-content-item h3{
  font-size: 16px;
  line-height: 23px;
  font-weight: 600;
  margin-top: 16px;


}

.augment-resources-content-area{
  margin-top: 104px;
}

.augment-resources-content{
  display: flex;
  margin-bottom: -21px;
}



     /*============================================
              MarketFaster
============================================== */
.market-faster-area{
background-color:#F9F8FF;
padding-bottom: 121px;
}
.market-faster-title h4{
color: red;

}

.market-faster-img{
  position: relative;
  z-index: 44;
}


.market-faster-img img{
  max-width: 100%;
  height: auto;
  pointer-events: none;
  margin-left: -56px;
  margin-top: 59px;
}
.market-faster-content-wrapper {
  margin-top: 54px;
}


.white-shape {
  position: absolute;
  top: -1px;
  left: -56px;
  height: 111%;
  width: 87%;
  background: white;
  z-index: -1;
  bottom: -55px;
}

.mission-image-shape {
  position: absolute;
  top: -1px;
  left: -56px;
  height: 111%;
  width: 79%;
  background: #F1F9F6;
  z-index: -1;
  bottom: -55px;
}

.market-faster-content{
  display: flex;
  padding-bottom: 32px;
}






.market-faster-title {
  padding-top: 34px;
  padding-bottom: 34px;
}


     /*============================================
             MoreValues
============================================== */

.more-values-title h4{
color: red;

}
.more-values-content{
  display: flex;

}

.more-values-content-two-special-padding{
  margin-left: -29px;
}

.more-values-content-two-special-padding-single{
  margin-left: -10px;
}

.more-values-content-two {
padding-bottom: 32px;
padding-left: 24px;
}

.augment-resources-icon svg{
  margin-left: -7px;
  max-width: 160%;
}

.augment-resources-content-item-special-margin{
  margin-left: 19px;
}

.more-values-img{
  position: relative;
  z-index: 44;
}
.more-values-img img{
  margin-left: 56px;
  margin-top: 41px;
}
.AntiqueWhite1-shape {
  position: absolute;
  top: -15px;
  right: -56px;
  height: 115%;
  width: 87%;
  background: #FFEFDB;
  z-index: -1;
  bottom: -55px;
}


     /*============================================
           ShowcaseDesign
============================================== */

.showcase-design-area{
    background-color: #FFF8F8;
    padding-bottom: 118px;
    }

    .showcase-design-title h4{
        color: red;
    }

    .showcase-design-title{
      padding-top: 34px;
      padding-bottom: 34px;
    }

    .showcase-design-img{
      position: relative;
      z-index: 44;
    }

    .showcase-white-shape {
      position: absolute;
      top: -1px;
      left: -56px;
      height: 112%;
      width: 87%;
      background: white;
      z-index: -1;
      bottom: -55px;
  }

    .showcase-design-img img{
      max-width: 100%;
      height: auto;
      pointer-events: none;
      margin-left: -56px;
      margin-top: 56px;
    }

    .showcase-design-content{
      padding-bottom: 32px;

    }

    .showcase-content-wrapper {
      padding-top: 58px;
    }

  
    

    /*============================================
    CustomerReviews
============================================== */


.customer-review-img{
  position: relative;
  
}

.customer-review-img img{
  height: 393px;

}

.pb-77{
  padding-bottom: 77px;
}



.customer-review-box {
  background-color: #FFFFFF;
  border: 2px solid gainsboro ;
  height: auto;
  z-index: 22;
  padding: 25px 25px 70px 25px;
  line-height: 28px;
}

.customer-review-box i {
  
  color: #E2E2E2;
  margin-bottom: 30px;
 


}

.customer-review-box img {
  
width: auto!important;
border-radius: 50%;
display: inline-block!important;
transition: .5s;
height: 113px;
max-width: 100%;
float:right;

}

.display-yoyo{
  display: flex;
}


.customer-review-box h3 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;


}

.customer-review-box h4 {
 
  color: gainsboro;

}



/*============================================
        Partner
============================================== */



  .partner-area{
    text-align: center;

  }

  .partner-area-section-title h3{
    margin-bottom: 50px;
  
  }
  
  .more-long-section-padding {
    padding: 110px 0px 65px 0px;
}

  .partner-content img{
    height: 100px;
    margin-right: 40px;
    margin-bottom: 100px;

  }

  .partner-content-img img{
    height: 76px;
  }

  .aboutus-partner-area{
    background-color: #F9F9FB;
    padding-top: 80px;
  }




/*============================================
        JoinLDS
============================================== */

.joinlds-area{
  background-color: #232323;
  color: #FFFFFF;
  padding: 47px;
}

.joinlds-content{
  text-align: center;
 
}

 
  .joinlds-content button {
    height: 50px;
    width: 152px;
    background-color: #FF1901;
    margin-top: 14px;
    color: aliceblue;
}

 
.joinlds-content button i {
 margin-left: 10px;
}





/*============================================
      FAQ
============================================== */


.faq-area{
background-color:#F9FBFA ;
}

.faq-title {
  text-align: center;
}
.faq-content{
  text-align: center;
  margin-bottom: 10px;

}
.faqcard-area {
  border: 1px solid gainsboro;
  transition: 0.3s;
  height: auto;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 20px 30px 26px 0px;
  text-align: left;
}

.faqcard-content{
  margin: 40px 40px 20px 40px;
  display: flex;
}

.faqcard-content-icon{
 margin-left: 88%;
}

.faqcard-content-para{
  margin: 20px 40px 40px 40px;


}






/*============================================
      Contact
============================================== */
.contact-area{
background-color:#F9FBFA ;

}
.contact-card-area{
  border: 1px solid gainsboro;
  transition: 0.3s;
  height: 190px;
  background-color: #FFFFFF;
  border-radius: 10px;
  text-align: left;
}



.contact-title{
  text-align: center;
  padding-bottom: 30px;
}

.contact-card-content{
display: flex;
margin: 30px;

}

.contact-card-content h4{
  margin-left: 20px;
}

.contact-card-content img{
  padding-bottom: 40px;

}

.contact-card-title p{
margin-left: 20px;
margin-top: 4px;
}

/*============================================
      Footer
============================================== */
.footer-soial-action svg{
margin-right: 10px;


}


.footer-area-lnk-clr{
  color: aliceblue;

}

.footer-area{
  background-color: #232323;
  color: aliceblue;
  padding: 46px 100px 0px 120px;

}

.footer-copyright {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}


.footer-logo-img-one{
  padding-right: 5px;

}

.footer-content-wrapper{
  text-align: center;
}

.footer-soial-action{
  text-align: right;
}

.privacy-policy-content p{
  padding: 30px 0px 30px 0px;
}



     /*============================================
               GetInTouch
============================================== */

.message-alert-close-icon{
  text-align: right;
  cursor: pointer;
}

.send-a-message-area{
  padding-bottom: 135px;
  margin-top: 73px;

 
}

.black-word .mobile-btn button {
  display: block;
  background: none;
  border: none;
  color: black;
  margin-left: -32px;
}

.input-field-name p{
  margin-top: -37px;
}

input[type=text] {
  width: 96%;
  padding: 12px 20px;
  margin-right: 25px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #7D7D7D;
  background-color: aliceblue;
  padding-left: 0px;
  margin-bottom: 40px;
  
}

input[type=number] {
  width: 96%;
  padding: 12px 20px;
  margin-right: 25px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #7D7D7D;
  background-color: aliceblue;
  padding-left: 0px;
  margin-bottom: 40px;
  
}

input[type=email] {
  width: 96%;
  padding: 12px 20px;
  margin-right: 25px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #7D7D7D;
  background-color: aliceblue;
  padding-left: 0px;
  margin-bottom: 40px;
  
}



.input-field-name-company{
  margin: 20px 0px 20px 0px;
}

.message-alert-img img{
  height: 150px;
  max-width: 100%;
}
.mobile-btn button{
  display: block;
  background: none;
  border: none;
  color: #fff;
  margin-left: -32px;
 }




.black-word ul li{
  color: black;
}

.black-word .scroll-login{
  color: white !important;
}
.black-word ul li:hover{
  color: white;
}

.stock-see-more-btn{
  height: 45px;
  width: 200px;
  border: 1px solid #0088Ba;
  color: #0088Ba;
}

.see-more-d{
  display: flex;
  justify-content: center;

}


.message-alert-area{
  display: grid;
  justify-content: center;
 
}

.message-alert-card{
  transition: all .3s linear;
  background-color: #FFFFFF;
  border-radius: 20px;
  text-align: center;
  height: 675px;
  
  box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
  padding: 50px;
 
}


.message-alert-social-action svg{
  margin-right: 10px;
}


.get-in-touch-content {
  padding-top: 100px;
}

.get-in-touch-content h6{
margin-top: 15px;
}





.send-a-message-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 104%;
  background-color: aliceblue;
  padding: 20px;
  height:722px;
}



.send-a-message-container {
  padding: 2px 16px;
}


.terms-content h4{
  margin-bottom: 20px;
}

.terms-content p{
  margin-bottom: 28px;
  color: black;
  font-size: 16px;
    line-height: 35px;

}

.terms-area-image{
  margin-bottom: 30px;
}



.privacy-content h4{
  margin-bottom: 20px;
}

.privacy-content p{
  margin-bottom: 28px;
  color: black;
  font-size: 16px;
    line-height: 35px;
}

.privacy-area-image{
  margin-bottom: 30px;
}




.contact-info-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  background-color: #253239;
  padding: 20px 0px 31px 0px;
}

.contact-info-container {
  padding: 2px 16px;
  margin-top: 30px;
}

.contact-info-one p{
  margin-top: 4px;
  margin-left: -39px;;
}


.input-field-area{
  display: flex;
}

.send-a-message-button{
  text-align: right;
}


.send-a-message-button i{
margin-left: 10px;
}
.send-a-message-button button{
  margin-top: 24px;
  width: 197px;
  padding: 16px;
  background-color: #e62d26;
  color: aliceblue;
  border: none;
  margin-right: 14px;
  
}

.contact-info-container h3{
  color: aliceblue;
  padding-left: 15px;
}

.contact-info-container i {
  color: aliceblue;
  padding-left: 17px;
}

.contact-info-one-icon{
  padding-left: 20px;
}
.contact-info-one-icon img{
height: 29px;
}



.contact-info-icon-two{
  margin-top: 54px;
  margin-left: 21px;
}
.contact-info-icon-two svg{
  margin-right: 15px;
}





.contact-info-icon-three img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
  margin-top: 84px;
  padding-left: 270px;
}
.send-a-message-title{
  display: flex;
  margin-top: 30px;
}

.send-a-message-title svg{
margin-left: 387px;
}




     /*============================================
              AboutUs
============================================== */

.about-us-title{
line-height: 38px;
}

.about-us-image img{
  height: auto;
  width: 100%;
  margin-top: -47px;
}


     /*============================================
             Vision
============================================== */
.vision-area{
  background-color: #F9F9FB;
  padding-top: 83px;
    padding-bottom: 22px;
}

.vision-img img {
 padding-bottom: 66px;
 margin-left: 116px;
}

.vision-img{
  position: relative;
  z-index: 44;
}

.vision-img-shape {
  position: absolute;
  top: -39px;
  left: 169px;
  height: 103%;
  width: 82%;
  background: #ECECEC;
  z-index: -1;
  bottom: -55px;

}

.vision-content {
  padding-top: 72px;
}

.vision-content h6{
  font-size: 16px;
  line-height: 35px;
}


     /*============================================
           Mission
============================================== */

.mission-sub-title{
color: #0088Ba;
}

.mission-content{
  display: flex;
  margin-bottom: 40px;
}
.mission-content i{
  color: #0088ba ;
}

.mission-content h6 {
    margin-left: 18px;
    margin-top: -5px;
}

.mission-img svg {
  max-width: 100%;
  height: auto;
  pointer-events: none;
 
}
.mission-img {
  text-align: right;
}


.culture-img img{
  margin-bottom: 33px;
  max-width: 88%;
}

.culture-img-two img {
  margin-top: 148px;
  max-width: 88%;
  margin-left: -30px;
}

.our-culture-title-margin{
  margin-top: 93px;
}

.culture-buttonn button {
  width: 200px;
  height: 65px;
  background-color: #FF1901;
  border: none;
  color: aliceblue;
}
.culture-buttonn i {
margin-left: 10px;
}


     /*============================================
           Partner
============================================== */
.partner-world-map-img img{
  margin-bottom: 91px;
}


.partner-content-one h3{
  font-weight: bold;
}
.partner-content-two h3{
  font-weight: bold;

}

.partner-content-one ul{
display: flex;
}

.partner-content-one img {
  height: 27px;
  margin-right: 2%;
  padding-left: 8%;
}

.partner-content-two ol{
  list-style-type: circle;
  display: flex;
}



.partner-content-two ol li {
  margin-right: 78px;
  margin-left: 40px;
}

.partner-content{
  display: flex;
  justify-content: center;
}

.dgarma-cards-area {
  margin-top: 43px;
}

.stock-fabrics-banner-area{
  background-image: url("/public/img/contactusbg.jpg");
  padding-bottom: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  height: 700px;
}
.stock-fabrics-area{
  background-color: aliceblue;
  margin-top: 21px;
  min-height: 120vh;
  margin-bottom: 50px;
}
 
.stock-fabrics-card-area {
  margin-top: 66px;
}

.tech-pack-banner-area{
  background-image: url("/public/img/contactusbg.jpg");
  padding-bottom: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  height: 700px;
}
.tech-pack-home-area{
  background-color: aliceblue;
  margin-top: 21px;
  min-height: 120vh;
  margin-bottom: 50px;
}

.pr-35 {
  padding-right: 20px;
}

.kg-of-fabrics{
  text-align: right!important;
}
.video-border{
  border: 2px solid #0b0d22;
  border-radius: 6px;
   max-width: 100%;
}

.video-wrapper{
  margin-top: 82px;
  text-align: right;
}

.video-wrapper .video-border  {
  border-radius: calc(20px - 5px);
  margin: 0;
}

.about-us-banner-area{
  background-image: url("/public/img/contactusbg.jpg");
  padding-bottom: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 700px;
}

.career-main-area{
  background-image: url("/public/img/contactusbg.jpg");
  padding-bottom: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 700px; 
}
.contactus-main-area{
  background-image: url("/public/img/contactusbg.jpg");
  height: 740px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}

.product-view-alert-card {
  transition: all .3s linear;
  background-color: #FFFFFF;
  border-radius: 20px;
  text-align: center;
  /* height: 675px; */
  box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
  padding: 50px;
}



.product-details-login-btn{
  width: 200px;
  height: 60px;
  background-color: #FF1901;
  border: none;
  color: aliceblue;
  margin-top: 23px;
}

.payment-method-footer-area{
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.videoPlayer {
  padding: 66.67% 0 0 0;
  position: relative
}
.videoPlayer iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius: 6px;
}